$fo-fa-1: 'Alumni Sans Collegiate One',
sans-serif;
$fo-fa-2:'Cormorant Garamond',
serif;
$fo-fa-3: 'Young Serif',
serif;
$fo-fa-4:'Oswald',
sans-serif;


.div{
    height: 46.55vw;
    overflow: hidden;
    background-color: black;
    >header{
        height: 100%;
        >section{
            height: 100%;
            &:nth-of-type(1){
                grid-area: 1/1/2/2;
                >video{
                    height: 100%;
                    width: 100%;
                }
            }
            &:nth-of-type(2){
                grid-area: 1/1/2/2;
                width: 100%;
                height: 100%;
                >h1{
                    color: azure;
                    text-transform: uppercase;
                    font-size: 4rem;
                    font-family: $fo-fa-3;
                }
            }
            &:nth-of-type(3){
                grid-area: 1/1/2/2;
                padding: 100px;
                >div{
                  width: 170px;
                  height: 40px;
                  background-color: white;
                  border-radius: 14px;
                  overflow: hidden;
                    >article{
                        grid-area: 1/1/2/2;
                        height: 100%;
                        &:nth-of-type(1){
                            >P{
                                height: 100%;
                                font-size: 1.3rem;
                                font-family: $fo-fa-3;
                                text-transform: capitalize;
                                color: rgb(73, 166, 233);
                            }
                        }
                        &:nth-of-type(2){
                            height: 100%;
                            >div{
                                background-color: rgb(73, 166, 233);
                                height: 100%;
                                border-radius: 14px;
                                transition: .4s;
                            }
                        }
                        &:nth-of-type(3){
                            >div{
                                width: 50%;
                                height: 100%;
                                cursor: pointer; 
                                z-index: 10;                             
                            }
                        }
                    }
                }
            }
        }
    }
}
.box1{
    transform: translateX(100%);
}